{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block title %}
	{{ parent() }}
	-
	{{ registeredUser.username }}
{% endblock %}

{% block body %}
	<main class="p-lg-5 p-3">
		<div class="profile bg-dark p-lg-5 p-4">
			<div class="profile-header d-flex justify-content-between">
				<div class="d-flex flex-direction-row align-items-center">
					<img class="rounded-circle me-4" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="avatar-user">
					<div class="profile-titles">
						<h1 class="h1 text-warning m-0">{{ registeredUser.firstname }}
							{{ registeredUser.lastname }}</h1>
						<h2 class="h3 m-0">Développeuse PHP</h2>
					</div>
				</div>
				<i class="far fa-heart"></i>
			</div>
			<div class="profile-body mt-5">
				<div class="mb-5">
					<div class="d-flex flex-direction-column align-items-center mb-4">
						<i class="fas fa-briefcase me-4"></i>
						<p class="m-0 p-0">Orléans, Loiret</p>
					</div>
					<div class="d-flex flex-direction-column align-items-center mb-4">
						<i class="fas fa-home me-4"></i>
						<p class="m-0 p-0">Tours, Indre-et-Loire</p>
					</div>
					<div class="d-flex flex-direction-column align-items-center mb-4">
						<i class="fas fa-coins me-4"></i>
						<p class="m-0 p-0">30 000€ - 35 000€
							<span>(brut annuel)</span>
						</p>
					</div>
					<div class="d-flex flex-direction-column align-items-center mb-4">
						<i class="fas fa-phone-alt me-4"></i>
						<p class="m-0 p-0">{{ registeredUser.phone }}</p>
					</div>
					<div class="d-flex flex-direction-column align-items-center mb-4">
						<i class="fas fa-at me-4"></i>
						<p class="m-0 p-0">{{ registeredUser.user.email }}</p>
					</div>
					<div class="d-flex flex-direction-column align-items-center mb-4">
						<i class="fas fa-wrench me-4"></i>
						<p class="m-0 p-0">Programmation informatique</p>
					</div>
				</div>
				<div class="mt-5 ms-1">
					<div class="d-flex flex-direction-column align-items-center mb-4">
						<i class="fas fa-file me-4"></i>
						<p class="m-0 p-0 fst-italic text-decoration-underline">{{ registeredUser.subscription.curriculum }}</p>
					</div>
					<div class="d-flex flex-direction-column align-items-center mb-4">
						<i class="fas fa-file-alt me-4"></i>
						<p class="m-0 p-0 fst-italic text-decoration-underline">Voir la fiche de poste</p>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
