{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block title %}
    {{ parent() }}
    -
    {{ user.username }}
{% endblock %}

{% block body %}
    <main class="p-lg-5 p-3">
        <div class="profile bg-dark p-lg-5 p-4">
            <div class="profile-header d-flex justify-content-between">
                <div class="d-flex flex-direction-row align-items-center">
                    <img class="rounded-circle me-4" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="avatar-user">
                    <div class="profile-titles">
                        <div class="d-flex flex-row align-items-center">
                            <h1 class="h1 text-warning m-0">
                                {% if user.registeredUser.firstname is not defined and user.registeredUser.lastname is not defined %}
                                    {{ user.username }}
                                {% else %}
                                    {{ user.registeredUser.firstname }}
                                    {{ user.registeredUser.lastname }}
                                {% endif %}
                            </h1>
                            {% if user.registeredUser.subscription is defined %}
                                <i class="fas fa-check-circle ms-2 text-white"></i>
                            {% endif %}
                        </div>
                        <h2 class="h3 m-0">
                            {% if user.registeredUser.rome is defined and user.registeredUser.rome is not null %}
                                {{ user.registeredUser.rome.name }}
                            {% else %}
                                Non renseigné
                            {% endif %}
                        </h2>
                    </div>
                </div>
                <i class="far fa-heart"></i>
            </div>
            <div class="profile-body mt-5">
                <div class="mb-5">
                    <div class="d-flex flex-direction-column align-items-center mb-4">
                        <i class="fas fa-briefcase me-4"></i>
                        <p class="ms-1 m-0 p-0">{{ user.registeredUser.city ?? "Non renseigné" }}</p>
                    </div>
                    <div class="d-flex flex-direction-column align-items-center mb-4">
                        <i class="fas fa-home me-4"></i>
                        <p class="m-0 p-0">{{ user.registeredUser.cityJob ?? "Non renseigné" }}</p>
                    </div>
                    <div class="d-flex flex-direction-column align-items-center mb-4">
                        <i class="fas fa-coins me-4"></i>
                        <p class="m-0 p-0">30 000€ - 35 000€
                            <span>(brut annuel)</span>
                        </p>
                    </div>
                    <div class="d-flex flex-direction-column align-items-center mb-4">
                        <i class="fas fa-phone-alt me-4"></i>
                        <p class="m-0 p-0">{{ user.registeredUser.phone ?? "Non renseigné" }}</p>
                    </div>
                    <div class="d-flex flex-direction-column align-items-center mb-4">
                        <i class="fas fa-at me-4"></i>
                        <p class="m-0 p-0">{{ user.registeredUser.user.email ?? "Non renseigné" }}</p>
                    </div>
                    <div class="d-flex flex-direction-column align-items-center mb-4">
                        <i class="fas fa-wrench me-4"></i>
                        <p class="m-0 p-0">{{ user.registeredUser.subscription.ogrName ?? "Non renseigné" }}</p>
                    </div>
                </div>
                {% if user.registeredUser.subscription is defined and user.registeredUser.subscription is not null %}
                    <div class="mt-5 ms-1">
                        {% if user.registeredUser.subscription.curriculum is defined and user.registeredUser.subscription.curriculum is not null %}
                            <div class="d-flex flex-direction-column align-items-center mb-4">
                                <i class="fas fa-file me-4"></i>
                                <a href="{{ vich_uploader_asset(user.registeredUser.subscription, 'curriculumFile') }}" class="m-0 p-0 fst-italic text-decoration-underline">Voir le CV</a>
                            </div>
                        {% else %}
                            <div class="d-flex flex-direction-column align-items-center mb-4">
                                <i class="fas fa-file me-4"></i>
                                <p class="m-0 p-0 fst-italic text-decoration-underline">CV non transmis</p>
                            </div>
                        {% endif %}
                        {% if user.registeredUser.subscription.jobDescription is defined and user.registeredUser.subscription.jobDescription is not null %}
                            <div class="d-flex flex-direction-column align-items-center mb-4">
                                <i class="fas fa-file-alt me-4"></i>
                                <a href="{{ vich_uploader_asset(user.registeredUser.subscription, 'jobDescriptionFile') }}" class="m-0 p-0 fst-italic text-decoration-underline">Voir la fiche de poste</a>
                            </div>
                        {% else %}
                            <div class="d-flex flex-direction-column align-items-center mb-4">
                                <i class="fas fa-file-alt me-4"></i>
                                <p class="m-0 p-0 fst-italic text-decoration-underline">Fiche de poste non transmise</p>
                            </div>
                        {% endif %}
                        <a href="{{ path('subscription_edit', {subscription: user.registeredUser.subscription.id}) }}">Modifier mes documents</a>
                    </div>
                {% else %}
                    <a href="{{ path('subscription_new') }}" class="btn btn-warning">Devenir Premium</a>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
