{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block title %}Gestion commentaires
{% endblock %}

{% block body %}
    <div class="page-title">
        <h1 class="h1 text-center py-1">
            Gestion des commentaires</h1>
        <h2 class="h3 text-center py-1">Supprimer ou accéder aux commentaires</h2>
    </div>
    <a href="{{ path('admin_index') }}" class="btn btn-primary m-2">index</a>
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Utilisateurs</th>
                <th>Commentaires</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for testimony in testimonies %}
                <tr>
                    <td>{{ testimony.user.username }}</td>
                    <td>{{ testimony.commentary }}</td>
                    <td>{{ testimony.createdAt ? testimony.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('testimony_show', {'id': testimony.id}) }}" class="btn fas fa-eye text-primary"></a>
                        <a href="{{ path('testimony_edit', {'id': testimony.id}) }}" class="fas fa-pencil-alt"></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
