{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('permutsearch') }}
{% endblock %}

{% block title %}
    {{ parent() }}
    - Permut Search
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('like') }}
    {{ encore_entry_script_tags('permut') }}
{% endblock %}

{% block body %}
    <main class="container py-5 permutsearch">
        {% if userData is defined and regregUsersData is defined %}
            {% include "permutsearch/permut.html.twig" %}
        {% else %}
            <div class="ajax">
                <h1 class="text-center">Jobpermut recherche pour vous</h1>
                <div class="text-center align-items-center">
                    <strong>Loading...</strong>
                    <div class="spinner-border ms-auto text-primary" role="status" aria-hidden="true"></div>
                </div>
            </div>
        {% endif %}
    </main>
    <div class="modal fade" id="matchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Vous avez match !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Vous avez match avec un autre utilisateur, l'équipe Jobpermut prendra contact avec vous pour la suite des démarches !
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cool !</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
